{% include "admin/_header.html" %}

<h1>新規登録：register</h1>
<p>新規ユーザーの登録を行えます</p>

<div id="api01">
	
	<h2>メソッド：POST</h2>
	<p>URL:http://photoster.com/api/v1/register</p>

	<div class="panel">
	usersテーブルに新規ユーザーを追加します
	</div>

	<h3>パラメーター</h3>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td>mail</td>
				<td>メールアドレス</td>
			</tr>
			<tr>
				<td>password</td>
				<td>パスワード</td>
			</tr>
		</tbody>
	</table>

	<hr>

	<h2>動作確認</h2>

	<form>
		<div class="form-group">
	    	<input type="email" name="mail" value="" placeholder="メールアドレス">
		</div>
		<div class="form-group">
	    	<input type="password" name="password" value="" placeholder="パスワード">
		</div>
	    <button type="button" class="btn btn-danger">送信</button>
	</form>

	<script>
	$("#api01 button").click(function(){
		var apiPath = 'http://photoster.com/api/v1/';

		var data = {
			mail : $('#api01 input[name="mail"]').val(),
			password :$('#api01 input[name="password"]').val()
		};

		$.ajax({
			url: apiPath + 'register',
			type: 'POST',
			data: data,
			dataType: 'json',
			timeout:1000,
			success: function(data) {
				$("#api01 pre").html(JSON.stringify(data, null, '  '));
			},
			error: function(data) {
				$("#api01 pre").html(JSON.stringify(data, null, '  '));
			}
		});
	});
	</script>

	<hr>

	<h2>戻り値</h2>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td>ステータスコード</td>
				<td>200:成功 400:失敗</td>
			</tr>
			<tr>
				<td class="col-sm-2">JSONデータ</td>
				<td class="col-sm-10">
					<table class="table table-striped table-bordered table-condensed">
						<tbody>
							<tr>
								<td>id</td>
								<td>ユーザーID</td>
							</tr>
							<tr>
								<td>mail</td>
								<td>メールアドレス</td>
							</tr>
							<tr>
								<td>password</td>
								<td>パスワード(ハッシュ化済み)</td>
							</tr>
							<tr>
								<td>nickname</td>
								<td>ニックネーム</td>
							</tr>
							<tr>
								<td>created</td>
								<td>登録日時</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<hr>

	<h2>結果</h2>
	<pre>
	</pre>

	<hr>
</div>


{% include "admin/_footer.html" %}