body {
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

#header
{
    padding:0;
	margin: 0;
	background-color: #EFEFEF;
}

#header .logo {
    padding:5px 10px;
    font-size:200%;

}

#mainContent
{
    margin:70px 0px 20px 10px;
}